h2 {
  text-align: center;
}
table {
  width: 100%;
  margin: 0 auto;
}

table, tr, td {
  border: 1px solid;
  border-spacing: 0;
}

td {
  padding: 20px;
}

div {
  width: 50%;
  float: left;
}

tr div:nth-child(2) {
  text-align: right;
}